.invisible {
    display: none;
    width: 0;
    height: 0;
}

.div-info{
}

.btn-method{
}

body {
    background: url("../images/ornaments_texture1146.jpg");
}

#header {
    background: #434343;
    margin-left: 0;
    height: 50px;
    position: fixed;
}

#header-div {
    margin-left: 0;
}

#div-user{
    border: solid 1px #ffffff;
}

#btn-enter{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

#btn-enter.active{
    background-color: red;
}

#content {
    margin-top: 50px;
    min-height: 600px;
    background: #fff;
    margin-left: 0;
    border: 1px solid red;
}

#sidebar {
    background: #ccc;
    margin-left: 0;
    border: 1px solid blue;
    position: fixed;
}

#sidebar-btns{
    margin-left: 0;
    padding-bottom: 0;
}

#inform {
    background: #fff;
    margin-left: 0;
    border: 1px solid yellow;
}

.tr-allContacts {
    cursor: pointer;

}

.tr-allContacts:hover {
    background: red;
}

.tr-contactPlaces{
    cursor: pointer;
}

.tr-contactPlaces:hover{
    background: green;
}

.btn-exit{
    cursor: pointer;
}

#mapCanvas {
    width: 500px;
    height: 400px;
    float: left;
}
#infoPanel {
    float: left;
    margin-left: 10px;
}
#infoPanel div {
    margin-bottom: 5px;
}