.invisible {
    display: none;
    width: 0;
    height: 0;
}

.div-info{
}


#div-form-enter {
}

.btn-method{
    width: 100%;
    height: 50px;
}

body {
    background: url("../images/ornaments_texture1146.jpg");
}

#header {
    background: #434343;
    margin-left: 0;
    height: 50px;
    position: fixed;
}

#header-div {
    margin-left: 0;
}

#div-user{
}

#btn-enter{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

#btn-enter.active{
    background-color: silver;
}

#content {
    margin-top: 50px;
    min-height: 600px;
    background: #fff;
    margin-left: 0;
}

#sidebar {
    background: #ccc;
    margin-left: 0;
    position: fixed;
}

#sidebar-btns{
    margin-left: 0;
    padding-bottom: 0;
}

#inform {
    background: #fff;
    margin-left: 0;
}
.tr-contactPlaces{
    cursor: pointer;
}
.tr-contactPlaces:hover{
    background: lightgrey;
}

.tr-allContacts {
    cursor: pointer;
}

.tr-allContacts:hover {
    background: rosybrown;
}

.tr-allHobbies{
    cursor: pointer;
}
.tr-allHobbies:hover{
    background: gold;
}
.tr-table-hobby-details{
    cursor: pointer;
}
.tr-table-hobby-details:hover{
    background: cadetblue;
}
.tr-table-hobbies{
    cursor: pointer;
}
.tr-table-hobbies:hover{
    background: darkseagreen;
}

.tr-allPlaces{
    cursor: pointer;
}
.tr-allPlaces:hover{
    background: green;
}
.tr-table-place-details{
    cursor: pointer;
}
.tr-table-place-details:hover{
    background: violet;
}
.tr-contact-places{
    cursor: pointer;
}

.btn-exit{
    cursor: pointer;
}

#mapCanvas {
    width: 500px;
    height: 400px;
    float: left;
}
#infoPanel {
    float: left;
    margin-left: 10px;
}
#infoPanel div {
    margin-bottom: 5px;
}