.invisible {
    display: none;
}

#firstFormRef{
	background: red;
}


#container {
    min-width: 1000px;
    min-height: 100px;
}


#header {
    width: 1000px;
    background: #7851A9;
    margin: 0 auto;
    min-height: 50px;
    text-align: left;
    position: fixed;
}


#content {
    min-height: 600px;
    background: #ECEABE;
    margin-top: 50px;
}



#sidebar {
    padding-left: 20px;
    height: 100%;
    background: #FFB02E;
    position: fixed;

}

#contentText {
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
}

#userInfo {
    position: fixed;
}

#photo {
    background: #FBCEB1;
    min-height: 350px;
    margin: 5px;
    margin-left: 10px;
    padding-left: 20px;
}

#tableInfo {
    min-height: 100px;
    margin: 5px;
    margin-left: 30px;
    background: #BDECB6;
}

#footer {
    background: #7851A9;
    min-height: 50px;
    margin: 0 auto;
    position: fixed;
}